<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dart Polska</title>
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
</head>
<body>

<div th:fragment="headerNavigation">
<ul>
  <li><a th:class="${activePage == 'main'} ? 'active' : ''" th:href="@{/}">Strona główna</a></li>
  <li><a href="#news">Zasady gry</a></li>
  <li><a th:class="${activePage == 'tournaments'} ? 'active' : ''" th:href="@{/tournaments}">Turnieje</a></li>
  <li><a href="#contact">Sklep</a></li>
  <li><a th:class="${activePage == 'gallery'} ? 'active' : ''" th:href="@{/gallery}">Galeria</a></li>
  <li><a th:class="${activePage == 'aboutUs'} ? 'active' : ''" th:href="@{/aboutUs}">O nas</a></li>
  <li style="float:right"><a th:class="${activePage == 'contact'} ? 'active' : ''" th:href="@{/contact}">Kontakt</a></li>

</ul>
</div>
</body>
</html>