#tournaments {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#tournaments td, #tournaments th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tournaments tbody tr:nth-child(even){background-color: #f2f2f2;}

#tournaments tr:hover {background-color: #b1b1b1;}

#tournaments th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}
hr.new4 {
    border: 1px solid black;
}