<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{../css/forms.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
    <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <div th:replace="fragments/login :: login" th:remove="tag"></div>
        </div>

        <div class="column middle" >

            <form sec:authorize="hasRole('ROLE_ADMIN')" style="padding: 20px"  method="post" th:action="@{/addFileToDownload}" enctype="multipart/form-data">
                <input name="description" placeholder="Description..." style="width: 350px">
                <input type="file" name="fileToDownload">
                <button class="button button2" >Dodaj</button>
            </form>

            <h4 class="information">Strona powstała w celu propagowania kultury fizycznej w szczegółlności Darta wśród dzieci, młodzieży i seniorów
            jako aktywna forma spedzenia wolnego czasu, zarówno samemu jak i w towarzystwie znajomych</h4>

            <h4>Pliki do pobrania:</h4>
            <div th:each="file, iterStat : ${files}">
                <div>
                    <h5><span th:text="${file.description}"></span><a style="margin-left: 80px; color: mediumblue" th:href="@{/todownload/{fil}(fil=${file.fileName})}" download>Pobierz</a></h5>
                </div>
            </div>



        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>