<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{../css/forms.css}" rel="stylesheet"/>
    <link th:href="@{../css/button.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
        <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <div th:replace="fragments/login :: login" th:remove="tag"></div>
        </div>

        <div class="column middle" >

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form method="post" th:action="@{/addArticle}" enctype="multipart/form-data" >


                    <div class="article">
                        <label>Autor</label>
                        <input th:field="*{news.author}" id="author" name="author" placeholder="Author..." >
                        <p style="color: white; background-color: red" th:text="${authorError}" th:if="${authorError}"></p>
                    </div>
                    <div class="article">
                        <label>Zdjęcie główne</label>
                        <input type="file" name="mainPicture">
                    </div>
                    <div class="article">
                        <label>Tytuł</label>
                        <textarea th:field="*{news.title}" id="articleTheme" name="title" placeholder="articleTheme..." ></textarea>
                        <p style="color: white; background-color: red" th:text="${titleError}" th:if="${titleError}"></p>
                    </div>
                    <div class="article">
                        <label>Nagłówek</label>
                        <textarea th:field="*{news.headline}" id="headline" name="headline" placeholder="Head line..." ></textarea>
                        <p style="color: white; background-color: red" th:text="${headlineError}" th:if="${headlineError}"></p>
                    </div>
                    <div class="article">
                        <label>Treść</label>
                        <textarea th:field="*{news.text}" id="text" name="text" placeholder="Text..."></textarea>
                        <p style="color: white; background-color: red" th:text="${textError}" th:if="${textError}"></p>
                    </div>
                    <div class="article">
                        <label>Galeria</label>
                        <input type="file" name="pictures" multiple placeholder="Text..." >
                    </div>


                    <button class="button button2" >Opublikuj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>