<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{../css/forms.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
    <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <div th:replace="fragments/login :: login" th:remove="tag"></div>
        </div>

        <div class="column middle" >

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form method="post" th:action="@{/tournaments}" th:object="${tournament}">
                    <input type="hidden"  th:field="*{id}"/>
                    <label>Nazwa miejsca:</label>
                    <input th:field="*{placeName}" type="text" name="placeName" placeholder="Np.: Restauracja Browar...">
                    <p class="error" th:text="${placeNameError}" th:if="${placeNameError}"></p>


                    <label>Miasto:</label>
                    <input th:field="*{city}" type="text" name="city" placeholder="Np.: Warszawa">
                    <p class="error" th:text="${cityError}" th:if="${cityError}"></p>

                    <label>Ulica:</label>
                    <input th:field="*{street}" type="text" name="street" placeholder="Np.: Weteranów">
                    <p class="error" th:text="${streetError}" th:if="${streetError}"></p>

                    <label>Nr lokalu:</label>
                    <input th:field="*{venueNumber}" type="text" name="venueNumber" placeholder="Np.: 14a , 15/72">
                    <p class="error" th:text="${venueNumberError}" th:if="${venueNumberError}"></p>

                    <label>Kod pocztowy:</label>
                    <input th:field="*{zipCode}" type="text" name="zipCode" placeholder="Np.:20-601">
                    <p class="error" th:text="${zipCodeError}" th:if="${zipCodeError}"></p>

                    <label>Poczta:</label>
                    <input th:field="*{postOffice}" type="text" name="postOffice" placeholder="Np.:Lublin">
                    <p th:text="${postOfficeError}" th:if="${postOfficeError}"></p>

                    <label>Data turnieju:</label>
                    <input type="date" th:value="*{data}" name="data" >
                    <p class="error" th:text="${dateError}" th:if="${dateError}"></p>

                    <label>Czas rozpoczęcia:</label>
                    <input th:field="*{startAt}" type="time" name="startAt" placeholder="Np.: 16:00">
                    <p class="error" th:text="${startAtError}" th:if="${startAtError}"></p>

                    <label>Wpisowe w zł:</label>
                    <input th:field="*{entryFee}" type="number" name="entryFee" placeholder="Np.: 30 ">
                    <p class="error"  th:text="${entryFeeError}" th:if="${entryFeeError}"></p>

                    <button class="button-success button2" >Zapisz</button>
                </form>
            </div>

        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>