<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
        <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <div th:replace="fragments/login :: login" th:remove="tag"></div>
        </div>

        <div class="column middle" >
            <h4 th:if="${success}" th:text="${success}"></h4>
            <form th:if="${success == ''}" method="post" th:action="@{/resetPassword}" style="display: inline">
                <h6>Podaj emaila aby zresetować hasło:
                <input size="40px" name="email" placeholder="e-mail">
                <button class="button-success button2">Wyślij e-maila</button>
                </h6>
            </form>
        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>