<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
    <link th:href="@{/css/contactForm.css}" rel="stylesheet" />
    <title>Dart Polska</title>
</head>
<body>

<header>
    <img th:src="@{/images/darts-arrows.jpg}" alt="Dart board with arrows" width="1300" height="400">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class="w3-hide-top w3-hide-small w3-xxxlarge">Dart Polska</h1>
    </div>
    <div th:replace="/fragments/navigation :: headerNavigation"></div>
</header>

<div th:if="${success}" class="w3-panel w3-green">
    <h3>Success!</h3>
    <p th:text="${success}" ></p>
</div>

<div class="container">
    <form method="post" th:action="@{/sendEmail}" th:object="${registrationUserDto}">
        <div class="row">
            <div class="col-25">
                <label for="fname">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="eMailAddress" placeholder="Twój adress e-mail">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Tytuł</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="title" placeholder="Temat wiadomości">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Wiadomość</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="text" placeholder="Text wiadomości.." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Wyślij">
        </div>
    </form>
</div>

<h4>Adres:</h4>
<p><span th:text="${info.name}"></span></p>
<p><span th:text="${info.address.street}"/> <span th:text="${info.address.number}"/></p>
<p><span th:text="${info.address.city}"/></p>
<p>Tel: <span th:text="${info.contactDetails.telephone}"/></p>
<p>E-mail: <span th:text="${info.contactDetails.email}"/></p>



<footer>
    <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
</footer>

</body>
</html>