<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <title>Dart Polska</title>
</head>
<body>


<header>
    <img th:src="@{/images/darts-arrows.jpg}" alt="Dart board with arrows" width="1300" height="400">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class="w3-hide-top w3-hide-small w3-xxxlarge">Dart Polska</h1>
    </div>
    <div th:replace="/fragments/navigation :: headerNavigation"></div>
</header>

<h4>Adres:</h4>
<p><span th:text="${info.name}"></span></p>
<p><span th:text="${info.address.street}"/> <span th:text="${info.address.number}"/></p>
<p><span th:text="${info.address.city}"/></p>
<p>Tel: <span th:text="${info.contactDetails.telephone}"/></p>
<p>E-mail: <span th:text="${info.contactDetails.email}"/></p>



<footer>
    <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
</footer>

</body>
</html>