<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{../css/gallery.css}" rel="stylesheet"/>
    <link th:href="@{../css/button.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{../lightbox/css/lightbox.min.css}">
    <script th:src="@{../lightbox/js/lightbox-plus-jquery.min.js}"></script>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
    <p>Dart Polska</p>
</div>

<div class="nav" th:replace="/fragments/navigation :: headerNavigation"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <h4>Logowanie</h4>
        </div>

        <div class="column middle" >
            <div class="form">
                <form style="margin: 10px" method="post" enctype="multipart/form-data" th:action="@{/uploadImage}">
                    <input type="file" name="imageFile">
                    <button class="button button2">Dodaj</button>
                </form>
            </div>


            <div class="gallery">
                <div>
                    <a th:each="image, iterStat : ${galleryList}" th:href="@{/gallery/{img}(img=${image})}" data-lightbox="mygallery"><img th:src="@{${'/gallery/' + image}}"/></a>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>