<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
    <link th:href="@{/css/gallery.css}" rel="stylesheet" />
    <link th:href="@{/css/button.css}" rel="stylesheet" />
    <link th:href="@{/css/forms.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <title>Dart Polska</title>
    <style>
        .warning {
            color: red;
        }
    </style>
</head>
<body>

<header>
    <img th:src="@{/images/darts-arrows.jpg}" alt="Dart board with arrows" width="1300" height="400">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class="w3-hide-top w3-hide-small w3-xxxlarge">Dart Polska</h1>
    </div>
    <div th:replace="/fragments/navigation :: headerNavigation"></div>
</header>

<div class="form">
<form style="margin: 10px" method="post" enctype="multipart/form-data" th:action="@{/uploadImage}">
    <input type="file" name="imageFile">
    <p th:text="${imageFileError}" th:if="${imageFileError}"></p>
    <button class="button" >Dodaj</button>
</form>
</div>

<div>
    <div th:each="image, iterStat : ${galleryList}">
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" th:href="@{/gallery/{img}(img=${image})}">
                    <img th:src="@{${'/gallery/' + image}}" width="600" height="400" >
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
</footer>

</body>
</html>