<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
    <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row">
        <div class="column side">
            <div th:replace="fragments/login :: login" th:remove="tag"></div>
        </div>


        <div class="column middle">
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addArticle}">
                <button class="button button2" type="button">Dodaj nowy artykuł</button>
            </a>
            <h4 th:if=" ${ #lists.isEmpty(news) }">Brak wiadomości</h4>

            <div th:each="news, iterStat : ${news}">
                <div id="news">
                    <h5><span th:text="${news.publicationDate}"/></h5>
                    <div><img style="height: 350px; width: 650px;" th:src="@{/images/} + ${news.mainPicture}"></div>
                    <h2><span th:text="${news.title}"/></h2>
                    <div>
                        <div id="read-more">
                            <a style="float: right; margin-right: 30px; font-size: 20px"
                               th:href="@{/news/{id}(id=${news.id})}">Czytaj więcej</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>