<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{../css/main.css}" rel="stylesheet"/>
    <link th:href="@{../css/gallery.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{../lightbox/css/lightbox.min.css}">
    <script th:src="@{../lightbox/js/lightbox-plus-jquery.min.js}"></script>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
    <p>Dart Polska</p>
</div>

<div class="nav" th:replace="/fragments/navigation :: headerNavigation"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">
            <div th:replace="/fragments/login :: login"></div>
        </div>

        <div class="column middle" >

            <p style="color: white; background-color: red" th:text="${commentTextError}" th:if="${commentTextError}"></p>

            <div class="article">
                <h6><span th:text="${news.publicationDate}"/></h6>
                <h1><span th:text="${news.title}"/></h1>
                <img style=" height: 350px; width: 650px;" th:src="@{/images/} + ${news.mainPicture}">
                <h4><span style="font-weight: bold" th:text="${news.headline}"/></h4>
                <h6><span th:text="${news.text}"/></h6>
            </div>


                <div class="gallery">
                    <div>
                        <a th:each="picture, iterStat : ${news.pictures}" th:href="@{/images/{img}(img=${picture.pictureName})}" data-lightbox="mygallery"><img th:src="@{/images/} + ${picture.pictureName}"/></a>
                    </div>
                </div>


            <div th:each="comment, iterStat : ${news.comments}">
                <div>
                    <p><time th:text="${#temporals.format(comment.dataTime, 'dd-MM-yyyy HH:mm')}"></time> <span th:text="${comment.author}"/>  napisał:</p>
                    <h5><span th:text="${comment.text}"/></h5>
                </div>
            </div>



            <form method="post" th:action="@{/addComment}">
                <input type="hidden"  name="id" th:value="${news.id}">
                <input name="author" type="text">
                <textarea name="text" th:text="${text}" placeholder="Text..." ></textarea>
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name Error</p>

                <button class="button button2" >Opublikuj</button>
            </form>


        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>