<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/button.css}" rel="stylesheet"/>
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
    <title>Dart Polska</title>
</head>
<body>

<div class="header">
        <p>Dart Polska</p>
</div>

<div class="nav" th:replace="fragments/navigation :: headerNavigation" th:remove="tag"></div>

<div id="page-conteiner">
    <div class="row" >
        <div class="column side">

            <div th:replace="fragments/login :: login" th:remove="tag"></div>

        </div>

        <div class="column middle" >

            <h4 class="error" th:if="${errorToken}" th:text="${errorToken}"></h4>

            <h4 class="error" th:if="${error}" th:text="${error}"></h4>

            <h4 class="error" th:if="${success}" th:text="${success}"></h4>

            <form th:if="${token}" method="post" th:action="@{/changePassword}">

                <input type="hidden" name="token" th:value="*{token}"/>

                <h6>Podaj nowe hasło</h6> <p class="error" th:text="${passwordError}" th:if="${passwordError}"></p>
                <input name="password" type="password" placeholder="password" th:value="*{password}"><br/>

                <h6>Potwierdz nowe hasło</h6>
                <input name="confirmPassword" type="password" placeholder="confirmPassword" th:value="*{confirmPassword}"><br/>

                <button class="button button2">Zapisz</button>
            </form>

        </div>
    </div>

    <div class="footer">
        <p>Wszystkie prawa zastrzeżone©. Strona zrobiona przez Michała Budzyńskiego</p>
    </div>
</div>

</body>
</html>